body {
    font-family: Arial, sans-serif;
    background: #fff6f9;
    color: #333;
    text-align: center;
    padding: 40px;
    background: linear-gradient(180deg,
            #fff6f9 0%,
            #ffeef3 40%,
            #fffafc 100%);
    opacity: 0;
    transition: opacity 0.8s ease;
}

body.loaded {
  opacity: 1;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='120' height='120' filter='url(%23n)' opacity='0.03'/%3E%3C/svg%3E");
    pointer-events: none;
    z-index: -1;
}

/* 页面切换动画 */
.page {
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.page.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* 标题 */
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* 按钮 */
.buttons button,
#secretBtn,
.page button {
    margin: 15px;
    padding: 14px 26px;
    border: none;
    border-radius: 30px;
    background: #ff8fab;
    color: white;
    font-size: 16px;
    cursor: pointer;
}



/* 照片 */
.gallery img {
    width: 240px;
    margin: 10px;
    border-radius: 14px;
}

/* 音乐按钮 */
#musicBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    background: #ff8fab;
    color: white;
    cursor: pointer;
}

.slideshow {
    margin: 30px 0;
}

.slideshow img {
    width: 280px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    transition: opacity 0.6s ease;
    opacity: 1;
}

#photoCounter {
    margin: 10px 0 20px;
    font-size: 14px;
    color: #777;
}

#playBtn {
    background: #ff8fab;
    padding: 16px 30px;
    font-size: 18px;
    border-radius: 40px;
}

#voiceTitle {
    margin: 30px 0 20px;
    font-size: 18px;
}

#voiceCounter {
    margin: 15px 0;
    font-size: 14px;
    color: #777;
}

#fireworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

#secret h2,
#secret p {
    position: relative;
    z-index: 1;

}
